<p class="Dashboard-title">Dashboard</p>
<ul>
  <h3 class="Dashboard-list">
    <%= link_to "Menus", menus_path %>
  </h3>

  <h3 class="Dashboard-list">
    <%= link_to "Orders", orders_path %>
  </h3>

</ul>
