<% if @current_user.role == "Manager" %>
  <h1 class=MenuItemPage-title>@current_menu.name</h1>
  <ul>
    <% MenuItem.all.each do |menuitem| %>
      <li class="MenuItem-list">

      </li>
    <% end %>
  </ul>



<% elsif @current_user.role == "Customer" %>
  <h1 class=MenuItemPage-title>@current_menu.name</h1>
  <ul>
    <% MenuItem.all.each do |menuitem| %>
      <li class="MenuItem-list">

      </li>
    <% end %>
  </ul>


<% else %>
  <h1 class=MenuItemPage-title>@current_menu.name</h1>
  <ul>
    <% MenuItem.all.each do |menuitem| %>
      <li class="MenuItem-list">

      </li>
    <% end %>
   </ul>


<% end %>
