<% if @current_user.role == "User" %>
  <h1 class="Order-title">My orders</h1>
  <%= render partial: "orderlist", locals: {orders: @orders} %>


<% else %>
  <h1 class="Order-title">Orders</h1>
  <%= render partial: "orderlist", locals: {orders: @all_orders} %>
<% end %>
