<h1>My Cart</h1>

<% if @current_user.role == "User" %>
  <ul>
    <li>
      <% Orderitem.all.each do |orderitem| %>
        <p class="Cart-content">
          <%= orderitem.item_name %> <%= orderitem.price %>
          <%= link_to "Remove", "/order_items/#{orderitem.id}", method: "DELETE" %>
        </p>
      <% end %>
    </li>
  </ul>
<% end %>
