<body class="classbody">
<h1 class="Order-title">Pending Orders</h1>
<% if @orders %>
  <%= render partial: "orderlist", locals: {
    orders: @orders,
    pending_button: true,
    report_form: false,
    invoice_button: false
  } %>
<% else %>
  <h6 class="Emptycart-text">No orders are pending to get delivered!</h6>
<% end %>
</body>
