<body class="classbody">
  <h1 class="About-title">About The Cafeteria</h1>

  <main class="About-main">
    <section class="About-section section-about">
      <h3 class="Section-head">What we do:</h3>
      <p class="Section-text">
        <span>
          Shaping the future of food.
        </span>
        <br><br>
        <span>
          All you have to do is
        </span>
      </p>
      <p class="Spl-text">
        Order..    Relax...    Enjoy....
      </p>
    </section>

    <section class="About-section">
      <h3 class="Section-head">Our mission:</h3>
      <p class="Section-text">
        <span>
          Bringing a new era to the world of food and foodies.
        </span>
        <br><br>
        <span>
          "And it means this is delicious food you an enjoy everyday:
          from vibrant salads for healthy lunches, to masalendar pani-puri, to fresh caffe latte for a
          romantic night in. Whatever you crave, we can help."
        </span>
      </p>
    </section>

    <section class="About-section">
      <h3 class="Section-head">Meet our people:</h3>
      <p class=Section-text>
        <span>
          Vineeth : 9495578440, vineeth.jaisankar@gmail.com
        </span>
        <span>
          Yaswanth : 6303556109, dvyaswanth123@gmail.com
        </span>
      </p>
    </section>

    <section class="About-section">
      <h3 class="Section-head">Your feedback is our secret superpower:</h3>
      <p class="Section-text">
        Feedback is never taken personally, we break it into positive pieces
        and strive to work on each and every element even more effectively.
      </p>
    </section>

    <section class="About-section">
      <h3 class="Section-head">Our journey soo far:</h3>
      <p class="Section-text">
        Well, though we created the perfect combination,
        something that is extraordinary and simple, we are
        still small and competetive. All that is left, is for you
        to fall in love with us and let us fill your hearts and
        tummy with loads of joy and lots of delicious food.
      </p>
      <p class="Conclude-text">Be a part of our story.</p>
    </section>
  </main>
</body>
