body{
  text-align: center;
}

.MenuItemPage-title{
  font-family: sans-serif;
  font-size: 35px;
  margin-bottom: 30px;
  margin-top: 20px;
  color: rgb(54, 14, 14);
}

.AddMenuItem{
  height: 32px;
  align-items: stretch;
  margin-bottom: 30px;
  margin-left: 10vw;
}

.AddMenuItem-text{
  padding: 6px 12px;
  font-size: 14px;
  color: #453C52;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #BFB8CC;
  border-bottom: 32px;
  width: 170px;
}

.AddMenuItem-price{
  padding: 6px 12px;
  font-size: 14px;
  color: #453C52;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #BFB8CC;
  border-bottom: 32px;
  width: 140px;
}

.AddMenuItem-button{
  font-size: 14px;
  color: white;
  background: linear-gradient(to right, #009999 0%, #336699 100%);
  border: 1px solid transparent;
  padding: 6px 22px;
  border-radius: 4px;
}

.MenuItem-section{
  display: flex;
  margin-bottom: 30px;
}

.MenuItem-container{
  display: flex ;
  padding: 2px 8px;
  align-items: center;
}

.MenuItem-icon{
  margin: auto;
  display: none;
}

.btn{
  padding: 0px;
}

.tooltip-custom{
  background-color: snow;
  text-align: center;
  padding: 20px;
  padding-top: 10px;
}

.tooltip-custom > .title{
  color: black;
  margin-bottom: 10px;
  font-size: 20px;
  color: rgb(25, 129, 124);
}

.tooltip-custom > .tooltip-inner{
  background-color: rgb(218, 92, 92);
}

.img1{
  height: 120px;
  width: 140px;
}

.AddToCart-qty{
  background-color: whitesmoke;
  width: 50px;
  margin: auto;
  border: 1px solid seashell;
}

.AddItemCart-button{
  font-size: 14px;
  color: white;
  background: linear-gradient(to right, #009999 0%, #336699 100%);
  border: 1px solid transparent;
  padding: 6px 10px;
  border-radius: 4px;
  margin-right: 50px;
}

.CartqtyUpdate-button{
  font-size: 14px;
  color: white;
  background: linear-gradient(to right, #009999 0%, #336699 100%);
  border: 1px solid transparent;
  padding: 6px;
  border-radius: 4px;
  margin-right: 50px;
}

.CartUpdate-link{
  color: white;
  font-size: 16px;
  padding-left: 2px;
  padding-right: 2px;
}

.icons8-icon{
  height: 15px;
  width: 15px;
}

.MenuItem-container:hover{
  background-color: #F1EDF7;
}

.MenuItem-container:hover > .MenuItem-icon{
  display: block;
}

.Category-title{
  font-weight: 600;
  color: #453C52;
  /*color: rgb(67, 30, 117);*/
  font-size: 20px;
  float: left;
}

.Category-section{
  margin-left: 150px;
  margin-right: 50px;
  margin-bottom: 15px;
}

.MenuItem-list{
  margin-bottom: 20px;
}

.MenuItemList-text{
  font-family: Andika;
  font-size: 18px;
  margin-right: auto;
}

.MenuItemList-text > span{
  display: block;
}

.MenuItemList-price{
  float: left;
  font-size: 16px;
}

.info-img{
  height: 12px;
  width: 12px;
  margin-left: 5px;
}

.WalkIn-title{
  font-family: Lato;
  font-size: 20px;
  margin-bottom: 20px;
}

.EditMenuItemPage-title{
  font-family: sans-serif;
  font-size: 35px;
  margin-bottom: 40px;
  margin-top: 20px;
  color: rgb(54, 14, 14);
}

@media only screen and (max-width: 480px) {
  .MenuItemPage-title{
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .AddMenuItem{
    height: 95px;
    width: 70%;
    margin: auto 60px;
    margin-bottom: 30px;
    margin-top: 10px;
  }

  .AddMenuItem-text{
    padding: 6px 8px;
    font-size: 11px;
    margin-right: 5px;
    border-radius: 2px;
    border-bottom: 32px;
    width: 150;
  }

  .AddMenuItem-price{
    padding: 6px 12px;
    font-size: 11px;
    margin-right: 5px;
    border-radius: 2px;
    border-bottom: 32px;
    width: 110px;
  }

  .AddMenuItem-button{
    font-size: 12px;
    padding: 6px 22px;
    border-radius: 2px;
  }

  .MenuItem-section{
    margin-bottom: 50px;
  }

  .MenuItem-icon{
    margin-left: 6px;
  }

  .WalkIn-title{
    font-size: 20px;
    margin-bottom: 20px;
  }

  .Category-title{
    font-size: 18px;
    ;
  }

  .Category-section{
    width: 90%;
    margin: 2px auto;
    margin-bottom: 10px;
  }

  .MenuItem-container{
    padding: 2px;
  }

  .MenuItem-list{
    margin-bottom: 8px;
  }

  .MenuItemList-text{
    margin: 3px auto;
    float: left;
    max-width: 200px;
    margin-left: 0px;
    display: block;
  }

  .MenuItemList-name{
    font-size: 15px;
    margin-left: 0px;
  }

  .MenuItemList-price{
    font-size: 13px;
  }

  .icons8-icon{
    height: 17px;
    width: 17px;
  }

  .MenuItem-icon{
    margin-right: 7px;
  }

  .MenuItem-container:hover > .MenuItemList-name {
    font-size: 13px;
  }

  .MenuItem-container:hover > .MenuItemList-price {
    font-size: 11px;
  }

  .MenuItem-container:hover > .MenuItem-icon{
    height: 17px;
    width: 17px;
  }

  .qty-price{
    display: block;
    margin-left: 40px;
  }

  .AddToCart-qty{
    float: right;
  }

  .AddItemCart-button{
    font-size: 11px;
    padding: 6px;
    border-radius: 2px;
    margin-left: auto;
    margin-right: 0px;
    float: right;
  }

  .CartqtyUpdate-button{
    font-size: 12px;
    padding: 6px;
    border-radius: 2px;
    margin-left: auto;
    margin-right: 0px;
    float: right;
  }

  .EditMenuItemPage-title{
    font-size: 25px;
    margin-bottom: 40px;
    margin-top: 10px;
  }

  .tooltip-custom > .title{
    margin-bottom: 10px;
    font-size: 15px;
  }
}
