body{
  text-align: center;
}

.AddMenuItem{
  height: 32px;
  align-items: stretch;
  margin-bottom: 30px;
}

.AddMenuItem-text{
  padding: 6px 12px;
  font-size: 14px;
  color: #453C52;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #BFB8CC;
}

.AddMenuItem-price{
  padding: 6px 12px;
  width: 10px;
  font-size: 14px;
  color: #453C52;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #BFB8CC;
}

.AddMenuItem-button{
  font-size: 14px;
  color: white;
  background-color: #488878;
  border: 1px solid transparent;
  padding: 6px 22px;
  border-radius: 4px;
}

.MenuItemPage-title{
  font-size: 40px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.MenuItem-list{
  font-size: 16px;
  margin-bottom: 20px;
}
