body{
  text-align: center;
}

.MenuPage-title{
  font-size: 30px;
  /*font-size: 7vh;*/
  margin-bottom: 50px;
  /*margin-bottom: 15vh;*/
  margin-top: 25px;
  /*margin-top: 6vh;*/
}

.AddMenu{
  height: 32px;
  /*height:10vh;*/
  align-items: stretch;
  margin-bottom: 40px;
  /*margin-bottom: 13vh;*/
}

.AddMenu-text{
  padding: 6px 12px;
  font-size: 14px;
  /*font-size: 3vh;*/
  color: #453C52;
  margin-right: 10px;
  /*margin-right: 2.5vw;*/
  border-radius: 4px;
  border: 1px solid #BFB8CC;
}

.AddMenu-button{
  font-size: 14px;
  /*font-size: 3vh;*/
  color: white;
  background: linear-gradient(to right, #009999 0%, #336699 100%);
  /*background-color: #488878;*/
  border: 1px solid transparent;
  padding: 6px 22px;
  border-radius: 4px;
}

.Menu-list{
  font-size: 16px;
  /*font-size: 4.5vh;*/
  margin-bottom: 20px;
  /*margin-bottom: 6vh;*/
  /*margin-left: 40%;*/
}

.Menu-Container{
  display:flex ;
  padding: 2px 8px;
  margin: 12px;
  /*margin: 2.5vh;*/
  /*margin-left: 550px;*/
  margin-left: 43vw;
  /*align-items: center;*/
}

.Menu-Checkbox{
  width: 16px;
  /*width: 4.5vw;*/
  height: 16px;
  /*height: 5vh;*/
}

.Menu-icon{
  margin-left: 10px;
  visibility: hidden;
}

.Menu-Container:hover{
  background-color: #F1EDF7;
}

.Menu-Container:hover > .Menu-icon{
  visibility: visible;
  height: 13px;
  width: 13px;
}

@media only screen and (max-width: 480px) {
  .MenuPage-title{
    font-size: 25px;
    margin-bottom: 35px;
    margin-top: 10px;
  }

  .AddMenu{
    height: 20px;
    align-items: stretch;
    margin-bottom: 60px;
  }

  .AddMenu-text{
    padding: 6px 12px;
    font-size: 12px;
    margin-right: 5px;
    border-radius: 2px;
  }

  .AddMenu-button{
    font-size: 12px;
    padding: 6px 22px;
    border-radius: 2px;
  }

  .Menu-list{
    font-size: 15px;
    margin-bottom: 8px;
  }

  .Menu-Container{
    padding: 2px 8px;
    margin: 6px;

  }

  .Menu-Checkbox{
    width: 8px;
    height: 8px;
    margin-right: 5px;
  }

  .Menu-icon{
    margin-left: 6px;
  }
}
