.body{
  text-align: center;
}

.Cart-title{
  font-size: 30px;
}

.Emptycart-text{
  font-size: 20px;
  margin-top: 45px;
}

.Cart-content{
  margin-top: 18px;
}

.CartRemove-link{

}

.PlaceOrder-button{
  margin-top: 20px;
  font-size: 14px;
  color: white;
  background-color: #488878;
  border: 1px solid transparent;
  padding: 6px 22px;
  border-radius: 4px;
}

.Order-title{
 font-size: 30px;
}

.OrderItem-section{
  border: 1px solid transparent;
  background-color: whitesmoke;
  margin-top: 20px;
}

.OrderId-text{
  font-size: 20px;
  margin-top: 30px;
}

.Ordered-by{
  color: rgb(53, 132, 184);
}

.OrderItem-content{
 margin-top: 23px;
}

.Order-text{
  margin-top: 5px;
  margin-bottom: 5px;
}

.Total-price{
  margin-top: 20px;
  font-size: 20px;
}

.Order-status{
  margin-top: 15px;
  margin-bottom: 20px;
  color: rgb(0, 128, 79);
}
