.body{
  text-align: center;
}

.Cart-title{
  font-size: 40px;
}

.Emptycart-text{
  font-size: 20px;
  margin-top: 45px;
}

.Cart-content{
  margin-top: 30px;
  font-size: 20px;
}

.CartRemove-link{
  font-size: 18px;
}

.PlaceOrder-button{
  margin-top: 18px;
  font-size: 14px;
  color: white;
  background: linear-gradient(to right, #009999 0%, #336699 100%);
  /*background-color: #488878;*/
  border: 1px solid transparent;
  padding: 6px 22px;
  border-radius: 4px;
}

.Order-title{
 font-size: 40px;
}

.OrderItem-section{
  border: 1px solid transparent;
  /*background: linear-gradient(to bottom right, #ffffff 0%, #66ffff 100%);*/
  background: linear-gradient(to bottom right, #99ffcc 0%, #66ffff 100%);
  /*background-color: rgb(247, 215, 215);*/
  margin-top: 20px;
}

.OrderId-text{
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 5px;
}

.Ordered-by{
  color: rgb(53, 132, 184);
  font-size: 18px;
}

.OrderItem-content{
  margin-top: 23px;
}

.Order-text{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
}

.Total-price{
  margin-top: 20px;
  font-size: 20px;
}

.Order-status{
  margin-top: 15px;
  margin-bottom: 20px;
  color: rgb(0, 128, 79);
  font-size: 18px;
}

@media only screen and (max-width: 480px) {
  .Cart-title{
    font-size: 25px;
  }

  .Emptycart-text{
    font-size: 17px;
  }

  .PlaceOrder-button{
    font-size: 12px;
    border-radius: 2px;
  }

  .Cart-content{
    margin-top: 35px;
    font-size: 17px;
  }

  .CartRemove-link{
    font-size: 15px;
  }

  .PlaceOrder-button{
    font-size: 12px;
    padding: 6px 22px;
    border-radius: 2px;
  }

  .Order-title{
    font-size: 25px;
  }

  .OrderItem-section{
    margin-top: 15px;
  }

  .OrderId-text{
    font-size: 15px;
    margin-top: 20px;
  }

  .Ordered-by{
    font-size: 12px;
  }

  .OrderItem-content{
    margin-top: 18px;
  }

  .Order-text{
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 13px;
  }

  .Total-price{
    margin-top: 15px;
    font-size: 17px;
  }

  .Order-status{
    margin-top: 12px;
    margin-bottom: 17px;
    font-size: 12px;
  }
}
