.body{
  text-align: center;
}

.Reports{
  height: 32px;
  align-items: stretch;
  margin-bottom: 60px;
  margin-left: 22vw;
  display: flex;
}

.Reports-text{
  padding: 6px 12px;
  font-size: 14px;
  color: #453C52;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #BFB8CC;
  border-bottom: 32px;
  width: 170px;
}

.Reports-label{
  font-family: Andika;
}

.Reports-date{
  padding: 6px 10px;
  font-size: 14px;
  color: #453C52;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #BFB8CC;
  border-bottom: 32px;
  width: 140px;
}

.Reports-button{
  font-size: 14px;
  color: white;
  background: linear-gradient(to right, #009999 0%, #336699 100%);
  border: 1px solid transparent;
  padding: 6px 22px;
  border-radius: 4px;
}

.Cart-title{
  font-family: sans-serif;
  font-size: 35px;
  margin-bottom: 50px;
  margin-top: 20px;
}

.Emptycart-text{
  font-family: Andika;
  font-size: 20px;
  margin-top: 45px;
  color: rgb(7, 95, 66);
}

.Cart-section{
  font-family: Andika;
  width: 75%;
  margin: 5px auto;
}

.Cart-heading{
  font-size: 22px;
  display: flex;
  margin-bottom: 15px;
  padding: 5px;
}

.Cart-section > ul{
  border-top: 1px dotted grey;
  border-bottom: 1px dotted grey;
}

.Cart-content{
  margin-bottom: 15px;
  padding: 5px;
  font-size: 18px;
  display: flex;
  margin-left: 5px;
}

.Cart-price{
  margin-left: auto;
  padding: 5px;
  display: flex;
}

.qty-price{
  width: 70px;
}

.CartRemove-link{
  font-size: 18px;
  margin-left: 20px;
}

.icons8-icon{
  height: 35px;
  width: 35px;
}

.Cart-update{
  padding: 5px;
  border: 1px solid transparent;
  font-size: 17.5px;
  margin-right: 10px;
  color: black;
  background: linear-gradient(to right, #ffafbd 0%, #ffc3a0 100%);
  display: flex;
}

.CartUpdate-link{
  color: black;
  padding-left: 3px;
  padding-right: 3px;
}

.PlaceOrder-button{
  margin-top: 18px;
  font-size: 14px;
  color: white;
  background: linear-gradient(to right, #009999 0%, #336699 100%);
  border: 1px solid transparent;
  padding: 6px 22px;
  border-radius: 4px;
}

.Order-title{
  font-family: sans-serif;
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 25px;
  color: rgb(54, 14, 14);
}

.OrderItem-section{
  font-family: Andika;
  width: 80%;
  border: 1px solid transparent;
  background-color: rgb(240, 205, 205);
  margin: 10px auto;
}

.OrderId-text{
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 5px;
}

.Ordered-by{
  color: rgb(53, 132, 184);
  font-size: 18px;
}

.OrderItem-content{
  margin-top: 23px;
  padding: 10px;
}

.OrderItem-content ul{
  margin: 0 auto;
  width: 70%;
}

.Order-text{
  padding: 5px;
  font-size: 17px;
  display: flex;
}

.total-price{
  margin-left: auto;
  padding: 5px;
}

.Total-price{
  margin-top: 20px;
  font-size: 20px;
}

.Order-status{
  margin-top: 15px;
  margin-bottom: 20px;
  color: rgb(0, 128, 79);
  font-size: 18px;
}

@media only screen and (max-width: 480px) {
  .Cart-title{
    font-size: 25px;
    margin-bottom :25px;
    margin-top: 10px;
  }

  .Emptycart-text{
    font-size: 17px;
  }

  .Cart-section{
    width: 90%;
    margin: 3px auto;
  }

  .Cart-heading{
    font-size: 18px;
    margin-bottom: 10px;
    padding: 3px;
  }

  .Cart-price{
    margin-left: auto;
    padding: 3px;
  }

  .Cart-update{
    padding: 3px;
    font-size: 18px;
    margin-right: 7px;
    width: 20px;
    height: 15px;
  }

  .PlaceOrder-button{
    font-size: 12px;
    border-radius: 2px;
  }

  .Cart-content{
    margin-bottom: 10px;
    font-size: 14px;
  }

  .CartRemove-link{
    font-size: 15px;
    margin-left: 10px;
  }

  .icons8-icon{
    height: 28px;
    width: 28px;
  }

  .Cart-update{
    padding: 4px;
    border: 1px dotted transparent;
    font-size: 15px;
    margin-right: 5px;
  }

  .qty-price{
    width: 50px;
  }

  .PlaceOrder-button{
    font-size: 12px;
    padding: 6px 22px;
    border-radius: 2px;
  }

  .Order-title{
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .Reports{
    height: 50px;
    width: 60%;
    margin: auto 70px;
    margin-bottom: 80px;
    margin-top: 10px;
  }

  .Reports-text{
    padding: 6px 8px;
    font-size: 11px;
    margin-right: 5px;
    border-radius: 2px;
    border-bottom: 32px;
    width: 150px;
  }

  .Reports-date{
    padding: 6px 8px;
    font-size: 11px;
    margin-right: 5px;
    border-radius: 2px;
    border-bottom: 32px;
    width: 120px;
  }

  .Reports-button{
    font-size: 12px;
    padding: 6px 22px;
    border-radius: 2px;
  }

  .OrderItem-section{
    width: 100%;
    margin: 5px auto;
  }

  .OrderId-text{
    font-size: 15px;
    margin-top: 20px;
  }

  .Ordered-by{
    font-size: 12px;
  }

  .OrderItem-content{
    margin-top: 18px;
  }

  .OrderItem-content ul{
    width: 80%;
  }

  .Order-text{
    padding: 3px;
    font-size: 13px;
  }

  .total-price{
    padding: 3px;
  }

  .Total-price{
    margin-top: 15px;
    font-size: 17px;
  }

  .Order-status{
    margin-top: 12px;
    margin-bottom: 17px;
    font-size: 12px;
  }
}
